nav {
  min-height: 40px;
}

.container {
  padding-top: 15%;
  width: 90%;
}

.page-title {
  margin-top: 15px;
  margin-bottom: 15px;
}

#requestor-input-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#requesterCountry {
  width: 70px;
}

#status-table-bootstrap-cell {
  overflow-x: auto;
}

.form-group {
  padding-left: 0;
  padding-right: 15px;
 
}

