nav {
  min-height: 40px;
}

.container {
  padding-top: 15%;
  width: 90%;
}

.page-title {
  margin-top: 15px;
  margin-bottom: 15px;
}


.form-group {
  padding-left: 0;
  padding-right: 15px;
 
}

#inputEmail3 {
  width: 12em;
}

#inputPassword3 {
  width: 12em;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}