nav {
  min-height: 40px;
}

.container {
  padding-top: 15%;
  width: 90%;
}

.page-title {
  margin-top: 15px;
  margin-bottom: 15px;
}

.card {
  padding-top: 15px;
  padding-bottom: 15px;
}

#requestor-input-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#requesterCountry {
  width: 100px;
}

#requestor-input-boxes form div:last-child {
  margin-bottom: 0;
}

#status-table-bootstrap-cell {
  overflow-x: auto;
}
