.container {
  padding-top: 0;
}

.success {
background-color:#dff0d8;
 border: none;

}

.warning {
  background-color:#fcf8e3;
   border: none;

}

.danger {
  background-color:#f2dede;
   border: none;

}

.errorText {
  color: red;
}

.validText {
  color: green;
}

.active {
 background-color:#f5f5f5;
 border: none;

}

#status-table-div {
  height: 25em;
  overflow-y: auto
}

.rabioB {
  padding-right : 2px !important;
}

.editable {
     -webkit-user-modify: read-write;
-moz-user-modify: read-write;
user-modify: read-write;
}


