.container {
  padding-top: 0;
}

.success {
background-color:#dff0d8
}

.warning {
  background-color:#fcf8e3
}

.danger {
  background-color:#f2dede
}

.active {
 background-color:#f5f5f5
}

#status-table-div table tbody, table thead {
      display: block;
    }
#status-table-div table tbody {
      overflow: auto;
      height: 20em;
    }
    
#status-table-div td {
      width: 272px;
    }
    
#status-table-div th {
      width: 272px;
    }

.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}



